form{
    margin-top:5%;
}
.content{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
#borrarCuenta{
    left:0;
    margin-top:2%;
}
#subirFoto{
    width:21.5%;
    margin-left:1%;
}