#profilePic {
    display: block;
    max-width:500px;
    max-height:500px;
    width: auto;
    height: auto;
    margin: 20px;
  }
#main-container-profile{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding:3%;
    padding-right:15%;
    padding-left:15%;
}
.text{
    color:#fff;
}
#container-header-profile{
    color:#683aa4;
    margin:0;
}
.container-prof-1{
    width:50%;
    height:100%;
    color: #683aa4;
    padding:5%;
    border-radius: 10px;
    margin-right:3%;
}
#main-container-editprof{
    border-radius: 10px;
    padding:12%;
}
.display-5{
    margin-left:7%;
}
.link-profile{
    text-decoration: none;
    color:#683aa4;
}
.link-profile:hover{
    color:#D7BDE2;
}
.editHeader{
    color:#683aa4;
    margin-bottom:15%;
    margin-top:0;
}
#editButton{
    margin:5%;
}
#vuelveButton{
    margin-left:5%;
}
.userDescription{
    text-align: justify;
    color:rgba(0, 0, 0, 0.5);
    margin-top:2%;
}
.formacionTitle{
    margin-top:3%;
    font-size: 25px;
    color:#683aa4;
    text-decoration:underline;
}
.formacionDiv{
    border-radius: 10px;
    margin-top:2%;
}
.liFormacion{
    padding:0.5%;
}
#nameAndPic{
    margin-left:4%;
}