img {
    width: 100%;
    height: 100%;
    border-radius:55px;
}
#main-container-profile{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.text{
    color:#fff;
}
#container-header-profile{
    color:#683aa4;
}
#container-prof-1{
    width:50%;
    height:100%;
    color: #683aa4;
    
}
#main-container-editprof{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding:12%;
}
.display-5{
    margin-left:25%;
}
.link-profile{
    text-decoration: none;
    color:#683aa4;
}
.link-profile:hover{
    color:#D7BDE2;
}
.editHeader{
    color:#683aa4;
    margin-bottom:15%;
    margin-top:0;
}
#editButton{
    margin:5%;
}
#vuelveButton{
    margin-left:5%;
}