@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');


.form-content-left {
  border-radius: 10px 0 0 10px;
  position: relative;
}

.form-img {
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-img-2 {
 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #683aa4;
}

.form-content-right {
  border-radius: 10px;
  position: relative;
  padding:30%;
}

.form {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
}
.h2{
  color:683aa4;
}
.form h1 {
  font-size: 2rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #683aa4;
}

.form-inputs {
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}
.form input:hover::-webkit-input-placeholder,
.form input:focus::-webkit-input-placeholder{
  opacity: 0;
}
.form input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}
.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  align-self: start;
  color: rgba(104, 58, 164,0.9);
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(104, 58, 164) 0%,
    rgb(215, 189, 226) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #683aa4;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: rgb(215, 189, 226) 100%;
  font-weight: 600;
}
.linkLogin{
    margin:0;
}
